@import url(https://fonts.googleapis.com/css?family=Raleway:100,200,300,regular,500,600,700,800,900,100italic,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic);

* {
    font-family: 'Raleway', sans-serif;
}

:root {
    --bordes: 5px;
}

#login {
    background: url(./img/fondoMessi.png) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

main {
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

#logoQatar {
    display: none;
}

#form-login {
    background-color: #FFFFFF;
    box-shadow: 0 px 6px 4px rgba(0, 0, 0, 0.25);
    border-radius: var(--bordes);
    padding: 32px 38px;
}

#tituloJugadores {
    text-align: center;
    font-weight: 700;
    color: #212529;
}

#cambioColorTitulo {
    color: #119DD8;
}

.card {
    background: #FFFFFF;
    border: 1px solid #EBEBEB;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 0px 0px 5px 5px;
}

.card-title {
    font-weight: 700;
    color: #212529;
}

.card-text {
    font-weight: 500;
    font-size: 13px;
    color: #212529;
}

jugadores .card .img-wrapper {
    height: 250px;
    overflow: hidden;
}

.img-wrapper {
    position: relative;
    display: flex;
    justify-content: flex-end;
}

#numeroCamiseta {
    position: absolute;
    font-weight: 800;
    font-size: 28px;
    line-height: 33px;
    color: #FFFFFF;
    padding: 2px 8px 0 0;
}

input {
    background: #FFFFFF;
    border: 1px solid #C6C6C6;
    box-shadow: inset 0px 0px 3px rgba(0, 0, 0, 0.18);
    border-radius: var(--bordes);
}

.btn-login {
    background: #374785;
    border: 1px solid #24305E;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
    border-radius: var(--bordes);
    width: 350px;
}

nav {
    z-index: 2;
}

.navbar-brand {
    font-style: italic;
    font-weight: 600;
    color: #119DD8;
}

#logoGuayerd {
    padding-right: 8px;
}

.btn-cerrarSesion {
    background: #374785;
    color: #FFFFFF;
    border: 1px solid #24305E;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
    border-radius: var(--bordes);
}

#bodyMapa {
    height: 100vh;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

#seleccionarJugadores {
    font-family: 'Raleway', sans-serif;
    background: #FFFFFF;
    border: 1px solid #C6C6C6;
    box-shadow: inset 0px 0px 3px rgba(0, 0, 0, 0.18);
    border-radius: var(--bordes);
    padding: 8px;
    width: 400px;
    position: fixed;
    z-index: 1;
    align-self: center;
    top: 80px;
}

#map {
    height: 100%;
    z-index: 0;
}

footer {
    height: 48px;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    position: fixed;
    left: 0;
    bottom: 0;
    background-color: #FFFFFF;
    border-radius: 0px 0px 0px 5px;
}

footer>a>img {
    padding: 0px 12px 0px 0px;
}

@media (max-width: 500px) {
    #login {
        background: #ffffff00;
    }

    main {
        flex-direction: column;
        justify-content: center;
    }

    #logoQatar {
        display: flex;
        padding-bottom: 24px;
    }

    #seleccionarJugadores {
        width: 80%;
    }

    .btn-cerrarSesion {
        width: 100%;
    }

    .btn {
        background: #374785;
        border: 1px solid #24305E;
        box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
        border-radius: var(--bordes);
    }

    footer {
        justify-content: center;
    }
}